apiVersion: v1
kind: Service
metadata:
  name: load-balancer-ext
  labels:
    app: load-balancer
  namespace: {{namespace}}
spec:
  ports:
  - name: neo4j-http
    port: 7474
    targetPort: 7474
    nodePort: {{neo4j_http_ext_port}}
  - name: neo4j-bolt
    port: 7687
    targetPort: 7687
    nodePort: {{neo4j_bolt_ext_port}}
  selector:
    app: load-balancer
  type: NodePort # Or load-balancer in production w/ proper security
---
apiVersion: v1
kind: Service
metadata:
  # The required headless service for StatefulSets
  name: load-balancer
  labels:
    app: load-balancer
  namespace: {{namespace}}
spec:
  ports:
  - port: 8007
    name: lb-api
  - port: 7474
    name: db-http
  - port: 7687
    name: db-bolt
  clusterIP: None
  selector:
    app: load-balancer
---    
apiVersion: apps/v1beta1
kind: StatefulSet
metadata:
  name: load-balancer
  namespace: {{namespace}}
spec:
  serviceName: "load-balancer"
  replicas: 1
  template:
    metadata:
      labels:
        app: load-balancer
        version: v1
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: role
                operator: In
                values: 
                - worker
      containers:
      - name: load-balancer
        image: rodalvarez/load-balancer
        env:
        - name: WEBHOOK_URL
          value: {{webhook_url}}
        - name: SLACK_CHANNEL_NAME
          value: {{slack_channel_name}}
        - name: REGION_1
          value: {{region1}}
        ports:
        - name: lb-api
          containerPort: 8007
        - name: db-http
          containerPort: 7474
        - name: db-bolt
          containerPort: 7687
