apiVersion: v1
kind: Service
metadata:
  # Expose the port on each node
  name: pcep-listener-ext
  labels:
    app: pcep-listener
  namespace: {{namespace}}
spec:
  ports:
  - name: pcep
    port: 4189
    protocol: TCP
    targetPort: 4189
    nodePort: {{pcep_ext_port}}
  selector:
    app: pcep-listener
  type: NodePort # Or LoadBalancer in production w/ proper security
---
apiVersion: v1
kind: Service
metadata:
  # The required headless service for StatefulSets
  name: pcep-listener
  labels:
    app: pcep-listener
  namespace: {{namespace}}
spec:
  ports:
  - port: 60000
    name: prom-port
  clusterIP: None
  selector:
    app: pcep-listener
---
apiVersion: apps/v1beta1
kind: StatefulSet
metadata:
  name: pcep-listener
  namespace: {{namespace}}
spec:
  serviceName: "pcep-listener"
  replicas: 1
  template:
    metadata:
      labels:
        app: pcep-listener
        version: v1
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: role
                operator: In
                values: 
                - worker
      containers:
      - name: pcep-listener
        image: rodalvarez/pcep-listener-go
        env:
        - name: PCEP_BINDING_ADDRESS
          value: "{{pcep_binding_address}}"
        - name: RMQ_HOST
          value: {{rmq_host}}
        - name: RMQ_USERNAME
          value: {{rmq_username}}
        - name: RMQ_PASSWORD
          value: {{rmq_password}}
        ports:
        - name: pcep
          containerPort: 4189
        - name: prom-port
          containerPort: 60000
        resources:
          requests:
            cpu: "200m"
          limits:
            cpu: "500m"
