apiVersion: v1
kind: Service
metadata:
  name: nm2-prometheus-ext
  labels:
    app: nm2-prometheus
  namespace: {{namespace}}
spec:
  ports:
  - name: prometheus
    port: 9090
    targetPort: 9090
    nodePort: {{prometheus_ext_port}}
  selector:
    app: nm2-prometheus
  type: NodePort # Or LoadBalancer in production w/ proper security
---
apiVersion: v1
kind: Service
metadata:
  # The required headless service for StatefulSets
  name: nm2-prometheus
  labels:
    app: nm2-prometheus
  namespace: {{namespace}}
spec:
  ports:
  - port: 9090
    name: prometheus
  clusterIP: None
  selector:
    app: nm2-prometheus
---
apiVersion: apps/v1beta1
kind: StatefulSet
metadata:
  name: nm2-prometheus
  namespace: {{namespace}}
spec:
  serviceName: "nm2-prometheus"
  replicas: 1
  template:
    metadata:
      labels:
        app: nm2-prometheus
        version: v1
    spec:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: role
                operator: In
                values: 
                - worker
      containers:
      - name: nm2-prometheus
        image: rodalvarez/nm2-prometheus
        ports:
        - name: prometheus
          containerPort: 9090
