apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{namespace}}-serviceaccount
  namespace: {{namespace}}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{namespace}}-ss-clusterrole
rules:
- apiGroups:
  - apps
  resources:
  - statefulsets/scale
  verbs:
  - get
  - update
---
 apiVersion: rbac.authorization.k8s.io/v1
 kind: ClusterRoleBinding
 metadata:
   name: {{namespace}}-admin-clusterrolebinding
   namespace: {{namespace}}
 roleRef:
   apiGroup: rbac.authorization.k8s.io
   kind: ClusterRole
   name: {{namespace}}-ss-clusterrole
 subjects:
 - kind: ServiceAccount
   name: {{namespace}}-serviceaccount
   namespace: {{namespace}}
---
apiVersion: v1
kind: Service
metadata:
  # The required headless service for StatefulSets
  name: k8s-api-helper
  labels:
    app: k8s-api-helper
  namespace: {{namespace}}
spec:
  ports:
  - port: 10000
    name: api
  clusterIP: None
  selector:
    app: k8s-api-helper
---
apiVersion: apps/v1beta1
kind: StatefulSet
metadata:
  name: k8s-api-helper
  namespace: {{namespace}}
spec:
  serviceName: "k8s-api-helper"
  replicas: 1
  template:
    metadata:
      labels:
        app: k8s-api-helper
        version: v1
    spec:
      serviceAccountName: {{namespace}}-serviceaccount
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: role
                operator: In
                values: 
                - worker
      containers:
      - name: k8s-api-helper
        image: rodalvarez/k8s-api-helper
        ports:
        - name: api
          containerPort: 10000
